doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Multiplier
    meta(name='description' content='A simple Multiplier App')
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    main
      header
        h1 My Times Tables

      .number-board
        - var buttonCount = 144
        each _, i in Array(buttonCount)
          button.number-board__number-btn(data-number= i+1)= i+1
    footer
      p Dan Warman | #[a(href='https://github.com/danwarman/multiplier' title='Multiplier app on Github' rel='external noopener' target='_blank') Github]