doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Multiplier
    meta(name='description' content='A simple Multiplier App')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    main
      h1 Multiplier App
    footer
      p Dan Warman | #[a(href='https://github.com/danwarman/multiplier' title='Multiplier app on Github' rel='external noopener' target='_blank') Github]